<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css" >
    <title>Weather services</title>
</head>
<body>

<div class="main-content">
    {{>header }}
    <img class="portait" src="/img/user.png">
    <p>This site was created by Marco Guilmette.  It uses data from mapbox.com and darksky.net.</p>

</div>
{{>footer }}

</body>
</html>